.azTaskbar-Tooltip{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 10px;
}

.azTaskbar-app-well-preview-menu-item {
  padding: 1em 1em 0.5em 1em;
}

.azTaskbar-Separator{
  background-color: rgba(211, 211, 211, 0.5); 
  margin: 0px 3px;
}

.azTaskbar-indicator{
  height: 3px;
  width: 10px;
  border-radius: 99px;
}
.azTaskbar-indicator:inactive{
  background-color: transparent;
}
.azTaskbar-indicator:active{
  background-color: rgba(204, 204, 204, 1);
}
.azTaskbar-indicator:focused{
  background-color: rgb(53, 132, 228);
}

.azTaskbar-AppButton{
  padding: 0px 8px;
  border-radius: 99px;
  margin: 0px 1px 3px 1px;
}

.azTaskbar-AppButton:hover, .azTaskbar-AppButton:focus, .azTaskbar-AppButton:checked {
  background-color: rgba(211, 211, 211, 0.20);
}

.azTaskbar-AppButton:active{
  background-color: rgba(211, 211, 211, 0.25);
}
